  @import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}



/* =========================
   HIDE SCROLLBAR
========================= */


.hide-scrollbar::-webkit-scrollbar {

  display:none;

}


.hide-scrollbar {

  scrollbar-width:none;

  -ms-overflow-style:none;

}





/* =========================
   JILI LOGO
========================= */


.jili-logo {

  font-size:38px;

  font-weight:900;

  font-family:
  Georgia,
  "Times New Roman",
  serif;

  letter-spacing:2px;



  background:linear-gradient(

    to bottom,

    #8be8ff 18%,

    #38bdf8 45%,

    #0284c7 75%,

    #075985 100%

  );



  -webkit-background-clip:text;

  -webkit-text-fill-color:transparent;



  text-shadow:

    0 0 2px #fff,

    0 0 8px #38bdf8,

    0 0 15px #0ea5e9,

    2px 2px 0 #083344;

}





/* =========================
   SMALL JILI LOGO
========================= */


.jili-small {


  font-size:24px;

  font-weight:800;


  font-family:
  Georgia,
  "Times New Roman",
  serif;



  background:linear-gradient(

    to bottom,

    #dffcff,

    #7dd3fc,

    #0284c7

  );



  -webkit-background-clip:text;

  -webkit-text-fill-color:transparent;



  text-shadow:

    0 0 4px #38bdf8,

    0 0 10px #0284c7;


}





/* =========================
   SIDE WIDGET ANIMATION
========================= */


@keyframes widgetMove {


  0% {

    transform:translateX(0);

  }


  50% {

    transform:translateX(-10px);

  }


  100% {

    transform:translateX(0);

  }


}




.animate-widget {


  animation:

  widgetMove

  1.5s

  ease-in-out

  infinite;


}